<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= tittle %>
    </title>

    <%- include ('partials/head.html')%>
    
    

</head>
<body>
    <!--<h1>hello world <%= 5 + 5 %> </h1>-->
    <!-- <script>alert ('works') </script> -->

    
    <%- include ('partials/navigation.html')%>
    

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <<img src="/img/motor-turbo.png" class="animate__bounceIn" 
                    alt="+turboCoin">

                <
            </div>

        </header>
    </div>

    <!--SECTION ONE-->
    <div class="container-fluid">
        <div class="row bg-dark text-white p-5 text-center">

            <div class="col-sm-6">
                <i class="fa-solid fa-rectangle-ad"></i>

            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus doloribus enim sunt voluptatem! Et quod illum dicta ad dignissimos obcaecati nemo, doloremque dolore corporis enim dolorem laborum similique sint asperiores!</p>

                <h3>Consigue tus +TurboCoin via paypal </h3>
                
            </div>
        </div>


        <%- include ('partials/footer.html')%>
    </div>

    


</body>

</html>